<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>SampleKeyProviderExtension</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>UIDocumentPickerModes</key>
			<array>
				<string>UIDocumentPickerModeOpen</string>
			</array>
			<key>UIDocumentPickerSupportedFileTypes</key>
			<array>
				<string>com.rsa.pkcs-12</string>
				<string>purebred.select.all</string>
				<string>purebred.select.all-user</string>
				<string>purebred.select.device</string>
				<string>purebred.select.signature</string>
				<string>purebred.select.encryption</string>
				<string>purebred.select.authentication</string>
				<string>purebred.zip.all</string>
				<string>purebred.zip.all-user</string>
				<string>purebred.zip.device</string>
				<string>purebred.zip.signature</string>
				<string>purebred.zip.encryption</string>
				<string>purebred.zip.authentication</string>
				<string>purebred.zip.no-filter</string>
				<string>purebred.select.no-filter</string>
			</array>
		</dict>
		<key>NSExtensionMainStoryboard</key>
		<string>MainInterface</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.fileprovider-ui</string>
	</dict>
</dict>
</plist>
